.menu-list-area {
    padding: 28px $m-padding;
    background-color: #fff;

    /*.new, .popular가 아닌 경우에만 10px top을 준다.*/
    &:not(.new):not(.popular) {
        margin-top: 10px;
    }

    /*새로운 메뉴쪽에는 밑줄 하나 있음*/
    &.new {
        border-bottom: 1px solid $booking-color-border144;
    }

    /*is-closed에만 살짝 패딩이 더 있음*/
    &.is-closed {
        padding: 24px $m-padding;

        /*is-closed 다음 연달아서 is-closed가 올때 여백 없음*/
        & + .is-closed {
            margin-top: 0;
            border-top: 1px solid $booking-color-border144;   
        }

        /*아래 화살표 모양 설정*/
        .ico-arrow {
            transform: rotate(180deg);
        }

        /*닫힌 상태에서는 메뉴가 보여서는 안된다*/
        .menu-list {
            display: none;
        }
    }

    .menu-category {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title-area {
        display: flex;
        align-items: center;
    }

    .title {
        font-size: 19px;
        font-weight: 700;
        color: $booking-color-text100;
        letter-spacing: -0.3px;
    }

    .btn-toggle {
        display: flex;
        margin: -16px;
        padding: 16px;
    }

    .period {
        font-size: 14px;
        letter-spacing: -0.3px;
        color: $booking-color-text4;
    
        &::before {
            content: '';
            display: inline-block;
            margin: 0 10px;     /*위아래 0, 양옆 10px*/
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #ededed;
            vertical-align: middle;
        }
    }
}