.order-type-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 32px 0 40px;
    /*위 왼쪽-오른쪽 아래*/
    border-radius: 16px 16px 0 0;
    background-color: #fff;
    text-align: center;
    z-index: 10000;

    .title {
        font-size: 20px;
        font-weight: 700;
        color: $booking-color-text1;
    }

    .type-list {
        display: flex;
        margin-top: 32px;
    }

    .type-item {
        flex: 1;
        /*1:1로 지정*/

        /*type-item옆에 type-item가 연달아서 오는 경우*/
        &+.type-item {
            /*가운데 선 생성*/
            border-left: 1px solid $booking-color-bg103;
        }
    }

    .icon {
        width: 95px;
        height: 100px;
        display: inline-block;
        color: transparent;
        background-image: url("../images/sp_local_pay-41792025.png");
        background-size: 773px 662px;
    }

    .ico_take_out {
        background-position: -194px -326px;
    }

    .ico_dine_in {
        background-position: -356px -214px;
    }


    .desc {
        margin-top: 8px;
        font-size: 15px;
        line-height: 1.5;
        font-weight: 600;
        color: $booking-color-text1;
    }

    .btn-selection {
        display: inline-block;
        /*inline 요소는 margin-top이 안먹힌다*/
        margin-top: 10px;
        padding: 6px 18px;
        font-size: 16px;
        font-weight: 700;
        border-radius: 28px;
        background-color: $booking-color-bg189;
        color: #fff;
    }

}